body {
  background-color: #50361b;
  font-family: sans-serif;
}

h1 {
  font-family: 'Michroma', sans-serif;
  color: white;
  font-size: 28px;
  margin: 20px;
}

h2 {
  font-family: sans-serif;
  margin-top: 60px;
  color: white;
  font-size: 20px;
  padding: 20px;
}

table, th, td {
  background-color: white;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  font-family: sans-serif;
}

th {
  background-color: salmon;
  font-weight: bold;
}

table {
  border: 1px solid black;
  margin: 40px;
}

/* nav bar */
ul {
  background-color: black;
  padding: 1vw;
}

ul li {
  display: inline;
  background-color: black;
  font: bold 1.5vw;
  font-family: 'Michroma', sans-serif;
  padding-left: 2vw;
  padding-right: 2vw;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited{
  color:white;
  text-decoration: none;
}

.peak {
  background-color: aquamarine;
}

.total {
  font-weight: bold;
}

#staff {
  margin-bottom: 0px;
}

p {
  font-family: sans-serif;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 40px;
  color: white;
}

img {
  clear: right;
  max-width: 300px;
  margin-left: 20px;
}

form {
  color: white;
}

fieldset {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

input {
  margin: 5px;
}