/* nav bar */
ul {
  background-color: black;
  padding: 0.5vw;
}

ul li {
  display: inline;
  background-color: black;
  font: bold 1.5vw;
  font-family: 'Julius Sans One', sans-serif;
  padding-left: 2vw;
  padding-right: 2vw;
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}
a:visited{
  color:#FFFFFF;
  text-decoration: none;
}

/* header */
header{
  position: relative;
  background-image: url(../img/bakery.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height:0;
  padding: 55%;
  padding-right: 0%;
  padding-bottom: 0%;
}

h1 {
  position: absolute;
  top: 0vw;
  text-align: center;
  padding: 0vw;
  left: 5vw;
  font-size: 15vw;
  font-family: 'Amatic SC', cursive;
  color: #FFFFFF;
  margin-top: 4vw;
}

/* general */
h2 {
  font-family: 'Amatic SC', cursive;;
  color: #000000;
  font-size: 9vw;
  padding: 3vw;
  text-align: right;
}

p {
  font-family: 'Maven Pro', sans-serif;
  padding: 3vw;
  font-size: 1.7vw;
}

/* about */
#about {
  height: 27vw;
  margin-top: 10px;
}

.column1of3 {
  float: left;
  width: 30%;
}

.column2of3 {
  float: left;
  width: 30%;
}

.column3of3 {
  float: left;
  width: 30%;
}

#chinook {
  padding-right: 3vw;
  padding-top: 5vw;
  max-width: 30vw;
}

/* products */
#products {
  background-color: #471c01;
}

#cutter, #shirt, #cookie {
  margin-top: 3vw;
  height: 20vw;
  max-width: 30%;
  vertical-align: top;
  margin-bottom: 3vw;
}

#products h2 {
  color: #FFFFFF;
}

#products p {
  color: #FFFFFF;
  text-align: center;
}

.column1of2 {
  float: left;
  width: 30%;
}

.column2of2 {
  float: left;
  width: 70%;
  max-height: 40vw;
}

/* locations */
